html, body { 
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: #0d5225;
  text-align: center;

  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #093814;
  margin-top: 30px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.controls {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  background: rgba(5, 57, 21, 0.75);
  padding: 8px 12px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  margin: 20px auto; 
  color: #7bb277;
}
